<div id="page_wrapper">

	<div id="content">
		<h1>Projet Web 4A Esiea</h1>
		<p>Jules Baud et Laure Delisle </p>
		<p>Lien vers le github <a href="https://github.com/Jbaud/blog">Github</a></p>
		<p>Merci de votre visite</p>
		<img src="https://cdn-images-1.medium.com/max/800/1*VuRMGPKL5vgl_22OhhnbiQ.gif" alt="Swag" style="width:304px;height:228px;">
	</div>


</div>